

<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Viewing all Apparatuses</title>
</head>
<body>
<form>
<table>
<tr th:each="currentApparatus : ${apparatuses}" >
<td th:text="${currentApparatus.id}" />
<td th:text="${currentApparatus.nameOfApparatus}" />
<td th:text="${currentApparatus.classLevel}" />
<td><a th:href="@{/edit/{id}(id=${currentApparatus.id})}">Edit</a></td>
<td><a th:href="@{/delete/{id}(id=${currentApparatus.id})}">Delete</a></td>
<td><a th:href="@{/listManeuversByAppId/{id}(id=${currentApparatus.id})}">View Maneuvers</a></td>
</tr>
</table>
</form>
<a href="../inputTarantula">Add a new Tarantula</a>
</body>
</html>